#container {
 display: grid;
 grid-template-columns: 4fr;
 grid-template-rows: 4fr ;
}

#bovenbalk {
 grid-column-start: 1;
 grid-column-end: 4;
 background-color: #FF7B00;
 height: 100px ;
}

#onderbalk{
  grid-column-start: 4;
  grid-column-end: 1;
  background-color: #FF9900;
  height: 250px;
}
#menu{
 grid-column-start: 1;
 grid-column-end: span 3;
 background-color: #FF0000;
 display: inline;
}

.box {
 min-height: 700px;
}
 
#centrum {
 background-color:rgb(255, 217, 0);
 border: 10px outset aqua;
}
 
body{
 background-color: brown;
}

button{
  background-color:lime;
}

a{
  color: white;
}

h1{
  text-align: center;
}

h2{
  position: relative;
  left: 560px;
  top: 50px;
  color: green;
}
#img1{
  border: 3px outset black;
  background-color: white;
  position: absolute;
  left: 75px;
  top: 150px;
  padding: 50px;
  width: 25%;
  height: 150px;
}

#img2{
  border: 3px outset black;
  background-color: white;
  position: absolute;
  left: 75px;
  top: 500px;
  padding: 50px;
  width: 25%;
  height: 150px;
}

#img3{
  border: 3px outset black;
  background-color: white;
  position: absolute;
  top: 150px;
  right: 75px;
  padding: 50px;
  width: 25%;
  height: 150px;
}
#img4{
  border: 3px outset black;
  background-color: white;
  position: absolute;
  top: 500px;
  right: 75px;
  padding: 50px;
  width: 25%;
  height: 150px;
}

#logo{
  position: absolute;
  top: 300px;
  right: 555px;
  padding: 50px;
  width: 20%;
  height: 200px;
}

#logo1{
  position: absolute;
  top: -40px;
  right: 490px;
  padding: 50px;
  width: 50%;
  height: 200px;
}

#logo2{
  position: absolute;
  top: 100px;
  right: 490px;
  padding: 50px;
  width: 20%;
  height: 200px;
}

#oa{
  background-color:  purple;
  position: absolute;
  right: -475px;
}
.menu {
  top: 108px;
  position: absolute;
  right: 660px;

}

form{
  position: absolute;
  top: 300px;
  right: 555px;
  border: 10px outset blue;
  
}
.socials{
  border: 10px outset blue;
  position: absolute;
  top: -3px;
  right: -400px;
}